.App{
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-page {
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.landing-page a{
  text-decoration: none;
}

.logo-img {
  height: 370px;
  padding-top: 5em;
}

.outer-box{
  background-color: steelblue;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 85%;
  margin: auto;
  border-radius: 10px;
}

.banner-text {
  width: 95%;
  height: 50%;
  margin: auto;
  border-radius: 10px;
  border-style: dashed;
  border-color: white;
  border-width: thin;
}

.banner-text h1 {
  font-size: 45px;
  font-weight: bold;
  color: white;
  padding-top: .5em;
}

.banner-text hr {
  border-top: 5px line white;
  width: 70%;
  margin: auto;

}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  text-decoration: underline;

}

.social-links {
  padding-top: 50px;
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
}

.icon {
  padding: 8px;
  height: 110px;
}

.texts{
  padding-top: 50px;
  padding-bottom: 25px;
}

.texts p1{
  padding-top: 50px;
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.texts p{
  font-size: 15px;
  padding-top: -10px;
  color: white;
}


/* For Header and Footer */
.navbar {
  background: #00c6ff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0072ff, #00c6ff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0072ff, #00c6ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.footer-page{
  padding-top: 15%;
  text-align: center;
}

.footer-page hr{
  border-top: 5px line;
  border-top-width: thin;
  border-top-color: white;
  width: 90%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 25px;
}


/* For Login and Register */
.container1{
  width: 55%;
  background-color: steelblue;
  padding-top: 5px;
  padding-bottom: 25px;
  border: black;
  border-style: solid;
  border-color: lightsteelblue;
  border-width: thin;
  margin: auto;
}

.account-logo {
  text-align: center;
}

.logo-img-account {
  font-size: 215px;
  padding-top: .15em;
}

.h3{
  color: white;
  font-size: 50px;
  padding-bottom: 25px;
  text-align: center;
}

.register{
   text-decoration: underline;
   padding-bottom: 10px;
   text-align: center;
}

.cannot-login{
  color: blue;
}

.col-md-8 label{
  color: white;
}

.terms{
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;

}
.terms a{
  color: blue;
  text-decoration: underline;
}

/* For Terms */
.term-back{
  background-color: white;
  width: 85%;
  height: 50%;
  text-align: center;
  margin: auto;
  border-style: double;
  border-color: steelblue;
}

.terms-listed{
  width: 85%;
  margin: auto;
  padding-bottom: 30px;
}

.term-back h1{
  font-size: 45px;
  padding-top: 15px;
}

.term-back hr{
  border-top: 5px line;
  width: 70%;
  margin: auto;
  border-top-width: thin;
  border-color: black;
  padding-bottom: 20px;

}

.term-back h2{
  font-size: 35px;
  padding-bottom: 10px;
}

.term-back p{
  text-align: justify;
}

/* For About */
.about-back{
  margin: auto;
  text-align: center;
  width: 90%;
}

.about-back h1 {
  padding-top: 10px;
  font-size: 70px;
  color: white;
}

.about-back hr {
  border-top: 5px line;
  border-top-width: thin;
  border-color: white;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}

.col-sm-6 h2{
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-bottom: 35px;
  text-decoration: underline;
}

.pic {
  border-color: steelblue;
  border-style: outset;
  border-radius: 70%;
  height: 200px;
  width: 40%;
}
