.headerBox {
  border-bottom-style: ridge;
  border-bottom-color: white;
  border-bottom-width: thin;
}

.borderBox {
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.logoHolder {
  width: 100%;
}

.row {
  padding-left: -10px;
  padding-right: -10px;
  display: flex;
  flex-wrap: wrap;
}

.menu-ul {
  float: right;
  margin-right: 30px;
}

.menu-ul li{
  display: inline-block;
  list-style-type: disc;
  margin-block-start: 1.53em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.logo {
  width: 90px;
  padding-left: 10px;
}

.title_text {
  text-decoration: none;
  color: black;
  font: Times;
  font-size: 50px;
}
